.aside {
    position: relative;
    background: #000000;
    overflow: hidden;
}

.aside::before,
.aside::after {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: repeat;
    background-size: 200px 200px;
    pointer-events: none;
}

.aside::before {
    background-image:
        radial-gradient(2px 2px at 20px 30px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 150px 80px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 80px 150px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 180px 120px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 50px 170px, #FFEDD4, transparent);
    animation: twinkle1 3s infinite ease-in-out alternate;
}

.aside::after {
    background-image:
        radial-gradient(2px 2px at 100px 40px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 30px 140px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 170px 60px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 120px 180px, #FFEDD4, transparent),
        radial-gradient(2px 2px at 60px 90px, #FFEDD4, transparent);
    animation: twinkle2 4s infinite ease-in-out alternate;
}

@keyframes twinkle1 {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes twinkle2 {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

.aside__box {
    text-align: center;
}

.aside__container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.aside__title {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 6px;
    color: #e3e1de;
    margin-bottom: 20px;
}

.aside__text {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #e3e1de;
    margin-bottom: 60px;
}

.aside__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.aside__item {
    width: 500px;
    background: #e3e1de;
    padding: 35px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    transition: all 0.35s ease;
}

.aside__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(255, 237, 212, 0.7);
    background: #FFEDD4;
}


.aside-item__title {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.aside-item__text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 25px;
}