.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 35px;
}

.icon {
    color: #e6b800;
}

.icon__title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFD700;
}

.icon__text {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #c9ab00;
}

.header__link {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(170, 176, 110);
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: rgb(209, 209, 48);
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: rgb(204, 204, 50);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.header__link:hover::after {
    transform: scaleX(1);
}

.lang-select {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #ca8a04;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

.lang-select:hover {
    border-color: #ff8c00;
}

.lang-select:focus {
    outline: none;
    border-color: #ffb700;
    box-shadow: 0 0 5px rgba(255, 184, 0, 0.5);
}