.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: 0.9s ease;
}

.hero__bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.hero__container {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}


.hero__container {
    color: white;
    max-width: 600px;
}

.hero__title {
    font-size: 80px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 1px;
    width: 1100px;
    margin-top: 50%;
    margin-left: 10%;
    margin-bottom: 15px;
}

.hero__text {
    font-size: 25px;
    width: 950px;
    margin-left: 25%;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero__btn {
    padding: 12px 25px;
    font-size: 14px;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgb(184, 46, 154), rgb(255, 90, 200));
    color: white;
    margin-left: 90%;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.35s ease;
    box-shadow: 0 4px 15px rgba(184, 46, 154, 0.3);
    letter-spacing: 1px;
}

.hero__btn:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 10px 25px rgba(184, 46, 154, 0.6);
    letter-spacing: 1px;
}

.hero__btn:active {
    transform: translateY(0px) scale(0.97);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}