.contact {
    background: #d1d5dc;
}

.contact__container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact__box {
    text-align: center;
}

.contact__title {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.contact__hr {
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin-bottom: 90px;
}

.contact-form__container {
    display: flex;
    justify-content: space-between;
}

.form__container {
    width: 520px;
    background: #f6f3f4;
    padding: 25px;
    border-radius: 25px;
}

.input__all {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.one__inp {
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 20px;
    border: 2px solid rgb(226, 223, 223);
    padding: 4px;
    cursor: pointer;
}

.one__inp:hover {
    border: 2px solid #a800b7;
}

.two__inp {
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 20px;
    border: 2px solid rgb(226, 223, 223);
    padding: 4px;
    cursor: pointer;
}

.two__inp:hover {
    border: 2px solid #a800b7;
}

.three {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 20px;
    border: 2px solid rgb(226, 223, 223);
    padding: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.three:hover {
    border: 2px solid #a800b7;
}

.four {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 20px;
    border: 2px solid rgb(226, 223, 223);
    padding: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.four:hover {
    border: 2px solid #a800b7;
}

.five {
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 20px;
    border: 2px solid rgb(226, 223, 223);
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}

.five:hover {
    border: 2px solid #a800b7;
}

.contact__btn {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 35px;
    background: #a800b7;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.form__box {
    width: 520px;
    background: #f6f3f4;
    padding: 30px;
    border-radius: 25px;
}

.form__item {
    display: flex;
    margin-bottom: 60px;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__item:hover {
    transform: translateX(8px);
    box-shadow: 0 8px 20px rgba(255, 237, 212, 0.35);
    border-radius: 10px;
    background: #d1d5dc;
}

.contact__icon {
    font-size: 35px;
    background: black;
    padding: 8px;
    color: white;
    border-radius: 10px;
}

.item__title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.item__link {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    opacity: 0.6;
}

.send {
    color: white;
    padding-left: 8px;
}