.location__container {
    margin-top: 90px;
    margin-bottom: 50px;
}

.map {
    border-radius: 25px;
}

.location__box {
    text-align: center;
}

.location__title {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 6px;
    margin-bottom: 25px;
}

.location__text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 30px;
    margin-bottom: 60px;
    opacity: 0.7;
}